@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.fancy::after {
		content: '';
		display: block;
		border-radius: 30% 70% 58% 42% / 30% 30% 70% 70%;
		width: 100px;
		height: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@apply bg-indigo-50;
	}

	.triangle::after {
		content: ' ';
		border-right: 100% solid #008ce6;
		border-bottom: 100% solid transparent;
		width: 0;
        top: 0;
        right: 0;
		position: absolute;
	}
}
